/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  /********generales*********************************/
  :root{
    --primarioRojo: #ED0526;
    --primarioAzul: #00328E
  }
  body{
    font-family: 'Montserrat', sans-serif;
  }

  hr {
    border: 0 none #ffffff;
    border-top: 1px solid #ffffff!important;
    height: 1px;
    margin: 5px 0;
    display: block;
    clear: both;
    }
  /*********** HERO*****************/
  .hero-index{
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.1) 100%), url("../img/work.jpg");
    background-position: center;
    border-radius: 0;
    color: white;
    /***efecto parallax********/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0!important;
    height: 100vh;
  }
  .down{
    margin-top: 10vh;
  }
  .down i{
    margin-top: 2vh;
    font-size: 3rem;
  }


  /************************** NAVBAR ********************/
  .nav-links{
    display: flex;
    justify-content: space-around!important;
    flex-direction: row;
    align-items: center;
    margin-left: auto;/*lo manda a la derecha*/
    list-style: none;
    width: 50%;
    height: 100%;
    padding: 0;
  }
  .nav-links:last-child{
    
    padding-right: 30px;
  }
  nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    z-index: 2;
    height: 8vh;
    background-color: #343a40;
    margin-bottom: 20px;
  }
  .nav-links li a{
    color: white!important;
    text-decoration: none;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
  .nav-links li a:hover{
    font-weight: bold;
    background-color: white;
    padding: 10px;
    color: #343a40!important;
  }
  .nav-links li a.pag-actual{
    padding: 4px;
    border: white 1px solid!important;
  }
  .hamburguesa{
    display: none;
  }
  @media only screen and (max-width: 768px){
    .hamburguesa{
      display: block;
    }
    .nav-links{
      -webkit-clip-path: circle(100px at 90% -20%);
      clip-path: circle(100px at 90% -20%);
      pointer-events: none;
      flex-direction: column;
      position: fixed;
      background: #343a40;
      height: 100vh!important;
      width: 100%!important;
      padding: 0;
      z-index: 5;
      top: 0;
    }
    .nav-links:last-child{
      padding-right: 0;
    }
    .nav-links.open{
      -webkit-clip-path: circle(1000px at 90% -10%);
      clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    
    
    .hamburguesa{
      color: white;
      position: absolute;
      right: 5%;
      font-size: 20px;
      top: 50%;
      -webkit-transform: translate(-5%, -50%);
      transform: translate(-5%, -50%);
      z-index: 6;
    }
    .hamburguesa:hover{
      cursor: pointer;
    }
  }

/************IMAGEN LOGO INDEX***********/
.logo-index{
  height: 100%;
  display: block;
  margin: 0 auto;
}


  /**********acticulos******************/

  article{
    margin-bottom: 30px;
  }


  /*************contenedores************/
  @media only screen and (min-width: 768px){
    .container.izq{
      float: left;
      width: 70%;
    }
    .container.der{
      float: right;
      width: 30%;
    }
  }
  ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
      color: transparent;
  }
  /************formularios***************/

  .input-group{
    margin: 15px auto;
  }
  .input-group input, textarea.input-group {
    border-style: none;
    border-bottom: #3e444b 2px solid;
    border-radius: 0;
    background: transparent!important;
  }
  .card{
    margin-bottom: 20px;
  }
  .form-group {
    position:relative;  
  
   
  }
  .form-group:last-child{
    margin-bottom: 0;
  }
  .form-label {
    margin-top: 10px;
    position: absolute;
    left: 0;
    top: 10px;
    color: #999;
    z-index: 1;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
  }
  
  
  .focused .form-label {
    transform: translateY(-125%);
    font-size: .75em;
  }
  .form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 2px 0 0 #707070;
    transition: box-shadow 150ms ease-out;
    background-color: transparent;
  }
  .frmOscuro{
    color: white;
  }
  .frmOscuro input{
    color: white;
  }
/**********CUERPO***********/
hr{
  border:0;
  border-bottom: #6c757d 1px solid!important;
  display: block;
  width: 100%;
}
.card.bg-dark{
  color:white;
}
.card.bg-dark input,.card.bg-dark textarea {
  color: white;
  border-bottom: #ffffff 2px solid;
}
input.required{
  border-bottom: rgb(216, 216, 88) 2px solid!important;
}

@media only screen and (min-width: 768px){
  .container.frmIzq{
    float: left!important;
    margin-right: 0;
    padding-right: 0;
    width: 24%;
  }
  .container.tabla{
    padding-left: 0;
    float: right!important;
    width: 75%;
  }
  .container.clearfix{
    padding: 0;
  }
}


/******tablas********/
.tabla{
  text-align: center;
}

/******tabla responsive*******/
@media only screen and (max-width: 700px){
  table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td {
      display: block;
      text-align:center;
  }
  tbody td:last-child{
      padding-bottom: 20px;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
}


  /*************************footer*************************/
  footer{
    bottom: 0;
    color: white;
  }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

